* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 0.5fr repeat(3, 3fr) 0.5fr;
  grid-template-areas: 
  "header header"
  "sidebar nav"
  "sidebar article"
  "sidebar article"
  "sidebar article"
  "footer footer";
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.logo {
  text-align: left;
}

.menu {

}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  list-style-type: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.photo  {

}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  grid-area: nav;
  background-color: #FF7755;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  list-style-type: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
  display: grid;
  align-items: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
