.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  margin: 10px;
}

.header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.logo {
  margin: 10px 0 10px auto;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.right-links {
  margin-left: auto;
}